

  <a class="menu-link">
    <span></span>
  </a>

  <div class="navbar-bg">

      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-center  fixed-top">
          <a class="navbar-brand" href="#">LawetaExpress</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#advantages">Advantages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#offer">Offer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#opinion">Opinion</a>
              </li>
            </ul>

          </div>

        </nav>
        <!-- /.row -->

      <!-- /.container -->

    <!-- /.header -->


    <div class="main" id="main">



              <div class="row justify-content-end ">
                <div class="col-4 ">
              <div class="header-title">
                <h1>POMOC <br/> <span class="text-blue">NAJTANSZA</span> <br/>OFERTA <br/>W <br/>TROJMIESCIE</h1>
              </div>

          </div>


        </div>
        <div class="header-btns">

<button class="header-btn btn btn-primary d-block">POPROS O WYCENE</button>
<button class="header-btn btn btn-primary d-block">KONTAKT Z LAWETA</button>

        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.main -->
  </div>
  <section id="advantages">
  <div class="row">
        <div class="container col-6 text-center">
        <div class="advantages-title"><strong>Dlachego <span class="text-blue">Warto</span> skorzystac z naszych uslug?</strong></div>
        <ul class="advantages-list  ">
          <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa </p>
          <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
          <p>xui</p>
          <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
          <p>xui</p>
        </ul>
      </div>



      <div class="advantages-bg bg-red col-6"></div>
  </div>

  </section>
  <section id="contact">
    <div class="row">
      <div class="contact-bg bg-red col-6"></div>
      <div class="container col-6 text-center">
      <div class="contact-title"><strong>Dlachego Warto skorzystac z naszych uslug?</strong></div>
      <ul class="contact-list">
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa </p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
      </ul>
    </div>




</div>
  </section>
  <section id="offer">
    <div class="row">
      <div class="container col-6 text-center">
      <div class="offer-title"><strong>Dlachego <span class="text-blue">Warto</span> skorzystac z naszych uslug?</strong></div>
      <ul class="offer-list  ">
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa </p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
      </ul>
    </div>



    <div class="offer-bg bg-red col-6"></div>
</div>
  </section>

  <section id="about">
    <div class="row">
      <div class="contact-bg bg-red col-6"></div>
      <div class="container col-6 text-center">
      <div class="contact-title"><strong>Dlachego Warto skorzystac z naszych uslug?</strong></div>
      <ul class="contact-list">
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa </p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
        <p>zalupa zalupa zalupa zalupa zalupa zalupa zalupazalupa</p>
        <p>xui</p>
      </ul>
    </div>




</div>
  </section>
  <section id="opinion"></section>






<router-outlet></router-outlet>
